<%- include('link.ejs') %>
<link rel="stylesheet" href="styles\admin.css">   
<div class="container-fluid">
    <div class="row">
        
        <center><h2>OFFER PACKAGES :: <%= allStockpackage.name %></h2></center>
        <div class="row admin-package">
            <% allStockpackage.forEach(element => { %>
                <div class="col=lg-6 admin-package">
                    <h2><%= element.name %></h2>
                    <h2><%= element.highlight %></h2>
                    <h2><%= element.details %></h2>
                    <h2><%= element.price %></h2>
                    <button class="btn btn-success btn-lg" value="">Pay <%-" "+ element.price +"USD" %> </button>
                    <button class="btn btn-danger btn-lg">Delete</button>
                    <button class="btn btn-warning btn-lg">Update</button>
                </div>
                <div class="">
                    
                </div>
        <% }); %>
        </div>
    </div>
</div>