<%- include('component/link') %>
<link rel="stylesheet" href="\styles\content.css">

<style>
    .body-deco {
        margin-left:5%;
        margin-right: 2%;
        padding-left: 0;
        padding-right: 0;
    }
</style> 
<body>
    <%- include('component/header') %>
    <div class="body-deco">
        
        
        
        <%- include('component/millionaire.ejs') %>
        <br>
        <br>
        <%- include('component/wealthCreation.ejs') %>
        <br>
        <br>
        <br>
        <%- include('component/frameworkAproach.ejs') %>
        <div>
            <br>
            <%- include('component/fameworkDetails.ejs') %>
            <%- include('component/subscribePortfolio.ejs') %>
        </div>
        
    </div>
</body>